<a href="https://colab.research.google.com/github/Mjbloomf/MAT-421/blob/main/ModuleA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 9- Representation of Numbers**

*9.1 Base-N and Binary*

Base2/binary numbers are very important for computers with the only digits being 0 and 1, as well as each digit being the coefficient of a power of 2.

We will begin by coverting a number (base 10) to binary using code.

1. 45 (base 10)

In [ ]:
bin(45) #conerting 45 to binary

'101101'


2.   32 (base 10)

In [ ]:
bin(32) #converting 32 to binary

'100000'

Now, we will add and multiply binary numbers using code. 



3. Convert 10 and 12 to binary, then add and multiply them.

Addition:

In [ ]:
bin(10) #converting 10 to binary
bin(12) #coverting 12 to binary
x = 0b1010 #initializing x as binary of 10
y = 0b1100 #initializing y as binary of 12
z = x + y #storing value of "x + y" in z
print(f"{z:b}") #printing result of z as binary

10110

Muliplication:

In [ ]:
x = 0b1010 #initializing x as binary of 10
y = 0b1100 #initializing y as binary of 12
z = x * y #storing value of "x * y" in z
print(f"{z:b}") #printing result of z as binary

1111000

*9.2 Floating Point Numbers*

Floating point numbers allocate bits (binary numbers) into three parts : sign indicator, exponent and fraction. 1 bit to sign indicator, 11 bits to exponent and 52 bits to fraction. Below is the code for information on float.

In [ ]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)


1.   Using code, give an example of a floating 
point number that will result in an overflow and then an example to represent an underflow.

Overflow:

In [ ]:
1.99e308 #print number

inf

Underflow:

In [ ]:
2 ** (-1076) #print number

0.0


2. Using the space function, determine the gap at 1e7 and verify that adding a number that is less than half the gap results in the same number.

In [ ]:
import numpy as np #calling space funtion in numpy
np.spacing(1e7) #gap at 1e7

1.862645149230957e-09

In [ ]:
1e7 == (1e7 + np.spacing(1e7)/3) #veryfing that adding to 1e7 is less than 1/2 the gap at 1e7 is same number

True

*9.3 Round-off Errors*

the round-off error is the difference between an approximation of a number used in computations and the true value. This occurs because a floating number can not be storef with perfect precision. 

1.   Give an example of a round-off error and the calculation in python.

In [ ]:
3.5 - 3.457 == 0.043 #round-off

False

In [ ]:
3.5 - 3.457 #python calculation

0.04300000000000015


2.   Using the round function on your previous equation, verify that it is a true statement.

In [ ]:
round(3.5-3.457, 7) == round(0.043, 7) #round funtion to make previous equation true

True


3. Take the equation "4 + 2/9 - 2/9" and use code to run the equation once. Then again using code, create an iteration that adds 2/9 and subtracts 2/9 the same number of times. For this example, it will execute 1,000 and 10,000 times to show the errors accumulating.

In [27]:
4 + 2/9 - 2/9

4.0

In [34]:
def add_and_subract(iterations): #defining function
  result = 4

  for i in range(iterations): #loop for adding 2/9 the number of iterations
    result += (2/9)

  for i in range(iterations): #loop for subtracting 2/9 the number of iterations
    result -= (2/9)
  return result

In [30]:
add_and_subract(1000) #run function 1000 times

4.000000000000005

In [32]:
add_and_subract(10000) #run function 10000 times

4.000000000000197